public/*
coverage
tmp
log
vendor
.DS_Store
dump.rdb
.idea
.env
!.*env*.dist
.vscode/*
!**/*vscode/extensions.json
node_modules
#EOF_DISTRIBUTION
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/db/*.sqlite3
/spec/dummy/log/
/log/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
